@charset "utf-8";
/* CSS Document */



	
#button {  /*導覽列控制*/
	text-align: center;
	font-weight: bolder;
	color: #FFF;
	font-family: "cwTeXYen" ;
	padding-bottom: 12px;
	height: 30px;
	padding-top: 12px;
	font-size: 24px;
	margin: 0px;
        }
		
#button a {
    display: block;
	float: left;
	width: 150px;
	color: #FFF;
	text-decoration: none;
}

#button a:hover{
	color: #7CCBDC;
}

#button li {
	
	list-style-type: none;
	letter-spacing: 12px;
	border-left-width: 1px;
	
	padding-left: 30px;
	padding-right: 30px;
}


#content {
	font-family: "cwTeXYen", "Arial Unicode MS";
	font-size: 14px;
	line-height: 2em;
	color: #333;
	padding: 30px;
	background-color: lightyellow;
        /* CSS 中 DIV 自己會長到上層 DIV100% 的寬度 (在這裡就是 #wrapper)，所以可不用設定寬度*/
        }
body {
	background-color: #278092;
	/******跨瀏覽器的底色漸層CSS語法********/ 
	background:-webkit-gradient(linear, 2% 0%, 0% 100%, from(#00475E), to(#007276));
	background: -moz-linear-gradient(#00475E, #007276);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00475E', endColorstr='#007276');

	margin: 0px;
}


#footer {
	text-align: center;
	font-size: 12px;
	line-height: 1.5em;
	color: #DDE3E3;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-image: url(1.jpg);


         }
		 
h1{
	color: #FFF;
	font-family: "cwTeXYen", "Book Antiqua", Palatino, serif;
	font-size: 30px;
	margin: 0px;

	
}

.header-text {
	font-size: 15px;
	color: #D2EFF7;
	font-family: "cwTeXYen", Times, serif;
	font-weight: bolder;
	font-style: italic;
	margin: 0px;

}
.title-1 {
	font-size: 18px;
	line-height: 2em;
	border-bottom-width: 1px;
	border-left-width: 12px;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-bottom-color: #417C9A;
	border-left-color: #417C9A;
	color: #187E95;
}

.text-s {
	font-size: 13px;
	color: #6F6CA1;
	border-left-width: 2px;
	border-left-style: dotted;
	border-left-color: #8081B1;
	padding-left: 5px;
	font-weight: bolder;
}
#content table {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #278092;
}
#content table tr td {
	padding: 5px;
	font-size: 12px;
	line-height: 1.5em;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #278092;
}
#content a {
	color: #278092;
	text-decoration: none;
}
#content a:hover {
	color: #903;
	text-decoration: underline;
}
.table_title {
	font-size: 14px;
	font-weight: bolder;
	color: #E9F0E0;
	background-color: #278092;
}

#content ul li {
	list-style-image: url(images/arrow_c.jpg);
}

.floatleft {
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
}
.floatright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}


.clearboth {
	clear: both;
}

.a{
        text-align: center;
        color: black;
        font-weight: bolder;
        font-size: 50px;
      }
      .b{
        font-size: 35px;
        font-weight: bolder;
        color: green;
      }
      .c{
        position: relative;
        margin-top: 10px;
        margin-left: 500px;
      }
      .d{
        font-size: 30px;
        font-weight: bold;
      }
      .e{
        position: absolute;
        margin-top: -300px;
        margin-left: 950px;
      }
      .f{
        position: relative;
        margin-left: 300px;
      }
      .g{
        position: relative;
        margin-left: 100px;
      }
	footer{
    text-align: center;
	background:#000;
	 font-family:"cwTeXYen";
}
div.clr {
color: #fff;
}

.video-container {

position: relative;

padding-bottom: 56.25%;

padding-top: 30px;

height: 0;

overflow: hidden;

}

.video-container iframe, .video-container object, .video-container embed {

position: absolute;

top: 0;left: 0;

width: 100%;

height: 100%;}

#footer {
	text-align: center;
	font-size: 12px;
	line-height: 1.5em;
	color: #DDE3E3;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-image: url(1.jpg);}


